@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Quantico);

body {
  background-color: pink;
  font-family: 'Handlee', cursive;
  font-family: 'Space Mono', monospace;
  overflow: hidden;
  text-align: center;


}

h1 {
  display: none;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

img {
  mix-blend-mode: ;
  height: 120vh;
  width: 120vw;
  position: absolute;
  left: 0;
  top: 0;
}

ul {
  list-style: none;
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 40%;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  letter-spacing: 15px;
  font-size: 80px;
  text-transform: uppercase;
}

li {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  opacity: 0.3;
}

a:hover {
  curor: pointer;
  opacity: 1;
}

a:visited {
  color: #fff;
}


/*Cookiefenster*/

/* Info */
@keyframes show-info {
  0% {
    transform: rotateY(120deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}


#container {
  background: rgba(0, 0, 0, 0);
  position: fixed;
  left: 50%;
  top: 60%;
}



/* Reset styles */
p, button {
  all: unset;
  font-family: 'Roboto', sans-serif;
}

/* Main CSS */
.cookie {
  position: fixed;
  left: 50%;
  bottom: -500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87.5%;
  padding: 16px 15px 16px;
  font-size: 14px;
  color: #fff;
  line-height: 18px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.59);
  border-radius: 3px;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  z-index: 200;
}

.cookie.show {
  bottom: 20px;
  transition: bottom .85s cubic-bezier(.13, .04, .39, 1.3);
}

.cookie.hide {
  bottom: -200px;
  transition: bottom .85s cubic-bezier(.68, -0.15, .74, .05);
}

.cookie-btn {
  display: inline-block;
  flex-shrink: 0;
  min-width: 133px;
  margin-top: 13px;
  padding: 10px 25px;
  color: #282828;
  font-weight: 700;
  line-height: 1.15em;
  background-color: #fff;
  border: none;
  border-radius: 1px;
  text-align: center;
  box-sizing: border-box;
  transition: all .2s ease;
  cursor: pointer;
}

.cookie-btn:hover,
.cookie-btn:focus {
  box-shadow: 0 0 7px 2px #1c1b1b;
}

@media (min-width: 620px) {
  .cookie {
    bottom: -200px;
    flex-direction: row;
    width: 400px;
    padding: 20px 20px 21px;
    text-align: left;
  }

  .cookie-btn {
    margin: 0 0 0 7px;
  }
}
/*Cookiefenster*/

/*Cookiefenster2*/

/* Info */
@keyframes show-info {
  0% {
    transform: rotateY(120deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

/* Reset styles */
p, button {
  all: unset;
  font-family: 'Roboto', sans-serif;
}

/* Main CSS */
.bottomleft {
  position: fixed;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87.5%;
  padding: 16px 15px 16px;
  font-size: 14px;
  color: #fff;
  line-height: 18px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  box-sizing: border-box;
  z-index: 200;
}



@media (min-width: 620px) {
  .bottomleft {
    bottom: 0px;
    flex-direction: row;
    width: 280px;
    padding: 20px 20px 21px;
    text-align: left;
  }

  .bottomleft-btn {
    margin: 0 0 0 7px;
  }
}
/*Cookiefenster2*/


/*Modal Datenschutz/*
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 500; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  font-family: Georgia;
  background-color: rgba(255, 255, 255, 0.85);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: left;
  line-height: 150%;

}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*Modal Datenschutz/*
